---
import Layout from '../../layouts/NoteOverviewLayout.astro';
import { getCollection } from "astro:content";

const pageTitle = "Notes";
const allPosts = await getCollection("notes");
---
<Layout title="jeksn.me | Notes">
   <h1>{pageTitle}</h1>
   <ul class="list-none">
      {
         allPosts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
           .map((post) => (
             <li class="list-none flex flex-col pb-4">
               <slug class="text-[0.8rem] opacity-75 no-underline">{post.data.date}</slug>
               <a href={`/notes/${post.slug}/`}>{post.data.title}</a>
             </li>
           ))
       }
    </ul>
</Layout>