---
import Layout from '../../layouts/NoteOverviewLayout.astro';
import { getCollection } from "astro:content";

const pageTitle = "Notes";
const allPosts = await getCollection("notes");
---
<Layout title="jeksn.me | Notes">
   <div class="flex items-center justify-between gap-2">
      <h1>{pageTitle}</h1>
      <a href="https://jeksn.me/rss.xml" class="bg-white text-black py-2 px-4 text-lg !no-underline flex rounded gap-3">
         <span class="no-underline">rss</span>
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="black" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>          
      </a>
   </div>
   <ul class="list-none">
      {
         (allPosts as any[]).sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))
           .map((post) => (
             <li class="list-none flex flex-col pb-4">
               <slug class="text-[0.8rem] text-neutral-400 no-underline">
                  {new Date(post.data.pubDate).toISOString().slice(0, 10)}
                  </slug>
               <a href={`/notes/${post.slug}/`}>{post.data.title}</a>
             </li>
           ))
       }
    </ul>
</Layout>