---
import Layout from '../../layouts/NoteLayout.astro';
import { getCollection } from "astro:content";

const pageTitle = "Notes";
const allPosts = await getCollection("notes");
---
<Layout title="jeksn.me | Notes">
   <h1>{pageTitle}</h1>
   <ul class="list-none">
      {
         allPosts.map((post) => (
            <li class="list-none">
               <a href={`/notes/${post.slug}/`}>{post.data.title}</a>
            </li>
         ))
       }
     </ul>
</Layout>