---
import Layout from '../../layouts/PageLayout.astro';

const pageTitle = "Uses";
---
<Layout title="Uses">
   <div>
      <h1>{pageTitle}</h1>
      <p>List off stuff and services I use</p>
      <br>
      <h2>Apps & Services</h2>
      <ul>
         <li>Arc Browser</li>
         <li>VS Code (and NeoVim sometimes)</li>
         <li>Warp</li>
         <li>Obsidian (for all my notes)</li>
         <li>Proton Mail, Pass, and Drive</li>
         <li>Feedbin (for RSS)</li>
         <li>Airshow (for podcasts)</li>
         <li>Kagi</li>
         <li>Raycast</li>
         <li>Apple Music</li>
      </ul>
      <br>
      <h2>Gear</h2>
      <ul>
         <li>Macbook Air M1</li>
         <li>Asus PA249Q Monitor</li>
         <li>Keychron K3</li>
         <li>Logitech MX Master 2S</li>
         <li>Samsung T3 1TB SSD</li>
      </ul>
      <h2>Headphones</h2>
      <ul>
         <li>Sony WH-XB900N</li>
         <li>Moondrop Quarks</li>
         <li>Tangzu Wan'er</li>
      </ul>
   </div>

</Layout>