---
import Layout from '../../layouts/NoteLayout.astro';

const pageTitle = "Uses";
---
<Layout title="jeksn.me | Uses">
   <div>
      <h1>{pageTitle}</h1>
      <p>List of services I use</p>
      <span> -- Work in progress -- </span>
   </div>

</Layout>