<header class="fixed w-full px-4 md:px-0">
   <div class="flex items-center justify-between max-w-screen-lg px-4 py-4 mx-auto">
     <div>
       <a href="/" class="px-4 py-2 text-sm text-black transition-all duration-700 ease-in-out bg-white rounded-sm hover:rounded-xl">
         jeksn.me
       </a>
       </div>
       <div class="flex gap-8">
         <a 
         href="/reading-list" 
         class="text-sm transition-all ease-in-out hover:-translate-y-[2px]">
           reading list
         </a>
         <a 
         href="/small-projects" 
         class="text-sm transition-all ease-in-out hover:-translate-y-[2px]">
           small projects
         </a>
         <a 
         href="https://github.com/jeksn/jeksn23" 
         class="text-sm transition-all ease-in-out hover:-translate-y-[2px]">
           repo
         </a>
     </div>
   </div>
   </header>