---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="fixed w-full px-4 md:px-0">
			<div class="flex items-center justify-between max-w-screen-lg px-4 py-4 mx-auto">
			  <div>
				 <a href="/" class="px-4 py-2 text-sm text-black transition-all duration-700 ease-in-out bg-white rounded-sm hover:rounded-xl">
					jeksn.me
				 </a>
				 </div>
				 <div class="flex gap-8">
					<a 
					href="/small-projects" 
					class="text-sm transition-all ease-in-out hover:-translate-y-[2px]">
					  small projects
					</a>
					<a 
					href="https://github.com/jeksn/jeksn23" 
					class="text-sm transition-all ease-in-out hover:-translate-y-[2px]">
					  repo
					</a>
			  </div>
			</div>
			</header>
		<slot />
	</body>
</html>
<style>
body {
  color: white;
  min-height: 100vh;
  background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: rgba(22, 22, 23, 0.95);
}

</style>