---
import Header from '../components/Header.astro';
export interface Props {
	frontmatter: string;
}

const {frontmatter} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="view-transition" content="same-origin" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>jeksn.me | {frontmatter.title}</title>
	</head>
	<body>
		<Header />
		<div class="max-w-screen-lg mx-auto markdown-container px-4">
			<div class="mb-4">
				<h1 class="pt-3 pb-6">Reading List</h1>
				<p>This is how I keep track of what I've read over the years.</p>
				<p>I keep this mostly updated in a local file but will try and keep this up-to-date as well.</p>
				<p>I also try to add what I read on <a href="https://oku.club/user/jek5n" class="underline underline-offset-2">Oku.club</a>.</p>
			</div>
			<slot />
		</div>
	</body>
</html>